<p id="notice"><%= notice %></p>

<h1>Lista de  Departamentos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td><%= departamento.nome %></td>
        <td><%= link_to 'Show', departamento %></td>
        <td><%= link_to 'Editar', edit_departamento_path(departamento) %></td>
        <td><%= link_to 'Apagar', departamento, method: :delete, data: { confirm: 'Você deseja apagar Registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Departamento', new_departamento_path %>
