<%= form_for @relatorio, :html => { :class => "form-horizontal relatorio" } do |f| %>

  <% if @relatorio.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@relatorio.errors.count, "error") %> prohibited this relatorio from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @relatorio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.date_field :data, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :departamento_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
       <%= f.collection_select(:departamento_id, Departamento.all, :id, :nome, {:prompt => 'Selecione o departamento'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :setor_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= f.collection_select(:setor_id, Setor.all, :id, :nome, {:prompt => 'Selecione o Setor'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :anomalia, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :anomalia, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Descrição', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :descricao, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Ações', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :acao, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Grupo de Análise', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :grupodeanalise, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancelar'),
                relatorios_path, :class => 'btn btn-default' %>
                
      <%= link_to 'Voltar', relatorios_path, :class => 'btn btn-info' %>
    </div>
  </div>

<% end %>
